* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p > i {
	font-size: 14px;
}

p > i:hover {
	cursor: pointer;
}

.content {
	position: absolute;
	top: 175px;
	width: 100%;
	margin: auto;
}

.header {
	position: sticky;
	top: 10px;
	padding: 30px 0;
	background: blue;
	color: white;
	box-shadow: 0 5px 20px 5px #ccc;
	text-align: center;
	font-size: 28px;
	font-weight: 900;
}

.info {
	position: relative;
	top: 10px;
	font-size: 17px;
	margin-bottom: 30px;
}

.info > i {
	font-size: 15px;
}

.info > i:hover {
	text-decoration: underline;
	cursor: pointer;
}

.main {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.more {
	display: none;
}

.sidebar {
	position: fixed;
	top: 0px;
	left: -200px;
	width: 200px;
	height: 100%;
	background: #151719;
	transition: all 150ms linear;
}

.sidebar.active {
	left: 0px;
}

.sidebar ul li {
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3); 
}

.sidebar ul li a {
	color: rgba(230, 230, 230, 0.9);
	text-decoration:none;
}

.sidebar ul li:hover {
	cursor: pointer;
	background: rgb(50, 50, 50);
}

.sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 50px;
}

.sidebar .toggle-btn:hover {
	cursor: pointer;
}

.sidebar .toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: white;
	margin: 5px 0px;
	border-radius: 10px;
}

.title {
	text-align: center;
}
